* {
    margin: 0;

    padding: 0;

    list-style: none;
}

header {
    background: linear-gradient(to bottom, rgb(2, 192, 131), rgb(4, 209, 69));

    padding: 5px;
}

section h1 {
    padding: 15px;
}

.nav-links {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 25px;
}

@media screen and (max-width: 500px) {
    .nav-links a {
        display: none;
    }
}

.logo {
    width: 156px;
}

a {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    text-decoration: none;

    color: rgb(239, 254, 217);

    transition: 0.2s;
}

a:hover {
    font-size: large;

    text-shadow: 1px 1px 5px greenyellow;

    transition: 0.2s;
}

/* Default Boxes */
.box-style-1 {
    background-color: whitesmoke;

    margin: 55px;

    padding: 15px;

    margin-bottom: 0;

    padding-bottom: 0;

    display: inline-block;

    box-shadow: 1px 1px 8px black;

    width: 300px;

    height: inherit;

    transition: 0.2s;
}

.box-style-1:hover {
    box-shadow: 1px 1px 8px rgb(98, 255, 0);

    transition: 0.2s;
}

.box-style-1 > h1 {
    font-size: large;

    padding: 15px;

    text-align: left;
}

.lower-box > p {
    padding: 5px;

    text-align: left;
}

/* Profile */
.profile {
    background-color: rgb(145, 145, 145);

    height: 300px;
}

.profile  > p {
    padding: 15px;
}

.profile hr {
    margin-right: 15px;
    margin-left: 15px;
}

.profile input {
    margin-left: 15px;
}

.profile-input {
    display: inline-block;
}

/* List */
.all-characters {
    text-align: center;
}